<!--@subject {{trans "Custom Form"}} @-->
{{template config_path="design/email/header_template"}}
<table style="float:left; margin-right: 10px" class="fue-abc-items">
   <tr>
       <td>
           <div class="greeting">Hi {{var name}},</div>
       </td>
    </tr>
   <tr>
       <td style="text-align: center;">
           {{trans "If you want to complete your purchase​ just click the link below."}}
       </td>
   </tr>
 
   <tr>
       <td>
           Message: {{var content}}
       </td>
   </tr>
   <tr>
    <td>
        Course: {{var course}}
    </td>
</tr>
</table>
{{template config_path="design/email/footer_template"}}